extends ../layout

block content
  .container
    if employerId
      h3
        if title2
          = title2
        else
          = title
      p Employer Id: #{employerId}
    else
      h3
        if title2
          = title2
        else
          = title
    
    p
      form.form-horizontal
        .form-group
          label.col-sm-3.col-xs-4.control-label Recruiter: 
          .col-sm-6.col-xs-8
            .form-control-static !{recruiter.name} - !{recruiter.email}
    
    p.text-center
      font(color="red") 
        i ** Required fields.
  
    form.form-horizontal(id='employerForm', method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      input(type='hidden', id='bu', name='bu', value=bu)
      input(type='hidden', id='recruiterId', name='recruiterId', value=(recruiterId))
      if (isEdit === "Y")
        .form-group
          label.col-sm-3.control-label(for='name') Employer Name
          .col-sm-7
            input(type='hidden', name='name', value=employer.name)
            .form-control-static !{employer.name}
      else
        .form-group
          label.col-sm-3.control-label(for='name') ** Employer Name
          .col-sm-7
            input.form-control(type='text', name='name', id='name', placeholder='Employer Name', required, value!=(employer === undefined ? '' : employer.name))
      .form-group
        label.col-sm-3.control-label(for='about') ** About Employer
        .col-sm-7
          textarea.form-control(rows='8', name='about', id='about', placeholder='About Employer') !{employer.about}
      .form-group
        label.col-sm-3.control-label(for='employeeSize') ** Employee Size
        .col-sm-7
          select.form-control(name='employeeSize', id='employeeSize', placeholder='Employee Size')
            for item in employeeSizeOptions
              option(
                label=item.label, 
                value=item.value, 
                selected=(employer.employeeSize == item.value ? 'selected' : false)
              ) #{item.label}
      .form-group
        label.col-sm-3.control-label(for='contact') ** Contacts/ Social Media
        .col-sm-7
          textarea.form-control(rows='4', name='contact', id='contact', placeholder='Contacts/ Social Media') !{employer.contact}
      .form-group
        .col-sm-offset-3.col-sm-7
          button.btn.btn-success(type='submit') Save
          span
          | 
          a.btn.btn-danger(href='#', onclick='goBack()', id='btnGoBack') Cancel

