extends ../layout

block content
  .page-header
    h3
      if title2
        = title2
      else
        = title
    p Job Id: #{jobId}
  #jobDetail.form-horizontal
    .form-group
      label.col-sm-3.control-label Job Title
      .col-sm-7
        .form-control.no-border !{job.title}
    .form-group
      label.col-sm-3.control-label Job Description
      .col-sm-7
        textarea.form-control.no-border(rows="3") !{job.description}
    .form-group
      label.col-sm-3.control-label Employer Name
      .col-sm-7
        .form-control.no-border !{job.employer.name}
    .form-group
      label.col-sm-3.control-label Contact
      .col-sm-7
        .form-control.no-border !{job.employer.contact}
    .form-group
      label.col-sm-3.control-label Salary
      .col-sm-7
        .form-control.no-border !{job.salary}
    .form-group
      label.col-sm-3.control-label Employment Type
      .col-sm-7
        .form-control.no-border !{job.empType}
    .form-group
      label.col-sm-3.control-label Language
      .col-sm-7
        .form-control.no-border !{job.language}
    .form-group
      label.col-sm-3.control-label Job Location
      .col-sm-7
        .form-control.no-border !{job.location}
    .form-group
      label.col-sm-3.control-label Publish Date Start
      .col-sm-7
        .form-control.no-border #{job.publishStartDisplay}
    .form-group
      label.col-sm-3.control-label Publish Date End
      .col-sm-7
        .form-control.no-border #{job.publishEndDisplay}
    .form-group
      label.col-sm-3.control-label Closing
      .col-sm-7
        .form-control.no-border #{job.closing}
    .form-group
      label.col-sm-3.control-label Other Information
      .col-sm-7
        textarea.form-control.no-border(rows="3") !{job.otherInfo}
    .form-group
      label.col-sm-3.control-label Customized full detail content to be displayed to user
      .col-sm-7
        textarea.form-control(rows='15', name='customContent', id='customContent', disabled='disabled') !{job.customContent}
    .form-group
      .col-sm-offset-3.col-sm-7
        a.btn.btn-primary(href=job.url+'/update') Edit
        span
        | 
        a.btn.btn-danger(href='#', onclick='submitDelete()') Delete
        span
        | 
        a.btn.btn-warning(href='/jobs') Back

  form(id='jobDeleteForm', action=job.url+'/delete', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    input(type='hidden', name='id', value=jobId)
