extends ../layout

block content
  .page-header
    if jobId
      h3
        if title2
          = title2
        else
          = title
      p Job Id: #{jobId}
    else
      h3
        if title2
          = title2
        else
          = title
  p.text-center
    font(color="red") 
      i ** Required fields.
  form.form-horizontal(id='jobForm', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='title') ** Job Title
      .col-sm-7
        input.form-control(type='text', name='title', id='title', placeholder='Job Title', autofocus, required, value!=(job === undefined ? '' : job.title))
    .form-group
      label.col-sm-3.control-label(for='description') ** Job Description
      .col-sm-7
        textarea.form-control(rows='3', name='description', id='description', placeholder='Job Description', required) !{job.description}
    .form-group
      label.col-sm-3.control-label(for='employerName') ** Employer Name
      .col-sm-7
        input.form-control(type='text', name='employerName', id='employerName', placeholder='Employer Name', required, value!=(job === undefined ? '' : job.employer.name))
    .form-group
      label.col-sm-3.control-label(for='employerContact') ** Contact
      .col-sm-7
        input.form-control(type='text', name='employerContact', id='employerContact', placeholder='E.g. YATI 015-9012222 (CALL/WHATSAPP) etc', required, value!=(job === undefined ? '' : job.employer.contact))
    .form-group
      label.col-sm-3.control-label(for='salary') Salary
      .col-sm-7
        input.form-control(type='text', name='salary', id='salary', placeholder='Salary', value!=(job === undefined ? '' : job.salary))
    .form-group
      label.col-sm-3.control-label(for='empType') Employment Type
      .col-sm-7
        input.form-control(type='text', name='empType', id='empType', placeholder='E.g. Full time, part time, contract, temporary etc', value!=(job === undefined ? '' : job.empType))
    .form-group
      label.col-sm-3.control-label(for='language') Language
      .col-sm-7
        input.form-control(type='text', name='language', id='language', placeholder='E.g. Malay, English, Chinese etc', value!=(job === undefined ? '' : job.language))
    .form-group
      label.col-sm-3.control-label(for='location') Job Location
      .col-sm-7
        input.form-control(type='text', name='location', id='location', placeholder='E.g. Kota Bharu, Jeli, Pasir Puteh etc', value!=(job === undefined ? '' : job.location))
    .form-group
      label.col-sm-3.control-label(for='publishStart') ** Publish Date Start
      .col-sm-7
        input.form-control(type='date', name='publishStart', id='publishStart', placeholder='Publish Date Start', required, value=(job === undefined ? '' : job.publishStartInput))
    .form-group
      label.col-sm-3.control-label(for='publishEnd') ** Publish Date End
      .col-sm-7
        input.form-control(type='date', name='publishEnd', id='publishEnd', placeholder='Publish Date End', required, value=(job === undefined ? '' : job.publishEndInput))
    .form-group
      label.col-sm-3.control-label(for='closing') ** Closing
      .col-sm-7
        input.form-control(type='text', name='closing', id='closing', placeholder='E.g. 2020-01-31, SEGERA', required, value=(job === undefined ? '' : job.closing))
    .form-group
      label.col-sm-3.control-label(for='otherInfo') Other Information
      .col-sm-7
        textarea.form-control(rows='3', name='otherInfo', id='otherInfo', placeholder='Other Information') !{job.otherInfo}
    .form-group
      label.col-sm-3.control-label(for='customContent') Customized full detail content to be displayed to user
      .col-sm-7
        textarea.form-control(rows='15', name='customContent', id='customContent') !{job.customContent}
    .form-group
      label.col-sm-3.control-label(for='otherInfo') Image URL
      .col-sm-7
        input.form-control(type='text', name='imgUrl', id='closing', placeholder='E.g. https://carikijo.my/images/fbProfilePhoto.jpg"', value!=(job === undefined ? '' : job.imgUrl))
    .form-group
      .col-sm-offset-3.col-sm-7
        button.btn.btn-success(type='submit') Save
        span
        | 
        a.btn.btn-danger(href='/jobs') Cancel
