extends ../layout

block content
  .container
    if creditAccountId
      h3
        if title2
          = title2
        else
          = title
      p Credit Account Id: #{creditAccountId}
    else
      h3
        if title2
          = title2
        else
          = title
    p.text-center
      font(color="red") 
        i ** Required fields.
  
    form.form-horizontal(id='creditAccountForm', method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      input(type='hidden', name='bu', value=bu)
      .form-group
        label.col-sm-3.control-label(for='recruiterId') ** New Recruiter
        .col-sm-7
          select.form-control(name='recruiterId', id='recruiterId', placeholder='Recruiter')
            for option in recruiterOptions
              option(
                label=option.label, 
                value=option.value, 
                selected=(option.isSelected ? 'selected' : false)
              ) #{option.label}
      .form-group
        label.col-sm-3.control-label(for='validDateStartInput') ** Valid Date Start
        .col-sm-7
          input.form-control(type='date', name='validDateStart', id='validDateStart', placeholder='Account Valid Date Start', required, value=(creditAccount === undefined ? '' : creditAccount.validDateStartInput))
      .form-group
        label.col-sm-3.control-label(for='validDateStartInput') ** Valid Date End
        .col-sm-7
          input.form-control(type='date', name='validDateEnd', id='validDateEnd', placeholder='Account Valid Date End', required, value=(creditAccount === undefined ? '' : creditAccount.validDateEndInput))
      .form-group
        .col-sm-offset-3.col-sm-7
          button.btn.btn-success(type='submit') Save
          span
          | 
          a.btn.btn-danger(href='#', onclick='goBack()', id='btnGoBack') Cancel
